/* External CSS */

/* body is a CSS Selector */
/* {} idicates a CSS Declaration */
body {
  /* property:value; is a CSS Rule */
  background-color: #fdfdfd;
  color: #0d0d0d;
  font-family: "Poppins";
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px ;
}

.headerLogo {
  padding: 8px;
  border: 2px solid black;
  border-radius: 50%;
}

ul {
  display: flex;
  justify-content: end;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* MAIN */
.section{
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.backgroundFeature{
  background-image: url(bilder/bildet6.jpeg);
  background-position: center;
}

div {
  width: 50%;
}

/*Placeholder value-will be deleted.*/
img {
width: 50%;
}

/* FOOTER */
footer{
  display: flex;
  justify-content: center;
}

